<!DOCTYPE html>
<html>
  <head>
    <title>Edools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Edools</a>
        </div>
        <div class="collapse navbar-collapse">   
          <ul class="nav navbar-nav">
            <li><a href="/students"><%= t('activerecord.models.student') %></a></li>
            <li><a href="/schools"><%= t('activerecord.models.school') %></a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
      <% if notice.present? %>
        <p class="alert alert-info">
          <%= notice %>
        </p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
