<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4 margin-top-10">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <%= render 'card', nome: 'Escolas', cor: 'primary', valor: @total_escolas %>
    <%= render 'card', nome: 'Alunos Ativos', cor: 'warning', valor: @total_alunos_ativos %>
    <%= render 'card', nome: 'Cursos', cor: 'success', valor: @total_cursos %>
    <%= render 'card', nome: 'Média Custo dos Cursos', cor: 'danger', valor: @media_custo_cursos&.to_dinheiro %>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Novo Portal</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="<%= asset_url 'undraw_posting_photo.svg' %>"
                 alt="">
          </div>
          <p>Add some quality, svg illustrations to your project courtesy of
            unDraw, a constantly updated collection of beautiful svg images
            that you can use completely free and without attribution!</p>
        </div>
      </div>
    </div>
  </div>
</div>