= f.input :title, label: t('labels.title'), placeholder: t('placeholders.title')
= f.input :description, label: t('labels.description'), placeholder: t('placeholders.description')
= f.input :content, label: t('labels.content'), placeholder: t('placeholders.content')
= f.input :duration, label: t('labels.duration'), placeholder: t('placeholders.duration')
= f.input :price, label: t('labels.price'), placeholder: t('placeholders.price')
= f.button :submit
