= f.input :title, label: "Título" 
= f.input :description, label: "Descrição" 
= f.input :content, label: "Conteúdo" 
= f.input :duration, label: "Duração" 
= f.input :price, label: "Preço" 
= f.button :submit 
