<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Nome do curso</th>
      <th>Escola</th>
      <th>Alunos ativos</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.titulo %></td>
      <td><%= course.school.nome %></td>
      <td><%= course.alunos_ativos %></td>
      <td><%= link_to "Exibir", course_path(course.id) %> | <%= link_to "Editar", edit_course_path(course.id) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
