<%= form_for(@course_student) do |f| %>
  <% if @course_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_student.errors.count, "error") %> prohibited this course_student from being saved:</h2>

      <ul>
      <% @course_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="jumbotron">
      <div class="field">
        <%= f.label "Nome da turma" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :Curso %><br>
        <%= f.collection_select :course_id, @courses, :id, :title, {prompt: "Select a category"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :Estudante %><br>
        <%= f.collection_select :student_id, @students, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "salvar" ,class: "btn btn-primary btn-sm" %>
      </div>
  </div>
<% end %>
