<p id="notice"><%= notice %></p>

<h1>Listing Course Students</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_students.each do |course_student| %>
      <tr>
        <td><%= course_student.school_id %></td>
        <td><%= course_student.student_id %></td>
        <td><%= link_to 'Show', course_student %></td>
        <td><%= link_to 'Edit', edit_course_student_path(course_student) %></td>
        <td><%= link_to 'Destroy', course_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course student', new_course_student_path %>
