= f.input :name, label: "Nome"
= f.input :address, label: "Endereço"
= f.input :phone, label: "Telefone"
= f.input :document, label: "CPF"
= f.input :status, priority: [ true ], collection: [ true, false ]
= f.button :submit
