%h1 Lista de Alunos

%table.table.table-striped
  %tr
    %th Nome
    %th Endereço
    %th Telefone
    %th Documento
    %th Editar
    %th Deletar

  - @students.select{|student| student[:status] == true }.each do |student|
    %tr
      %td= student.name
      %td= student.address
      %td= student.phone
      %td= student.document
      %td= link_to "Editar", edit_school_student_path(@school, student.id)
      %td= link_to "Deletar", school_students_path(student), method: :delete, data: { confirm: "Você tem certeza?" }

= link_to "Voltar", school_path(@school)
