= simple_form_for([current_user, @school]) do |f|
  -if @school.errors.any?
    #error_explanation
      %h2
        = pluralize(@school.errors.count, "erro")
        no preenchimento
      %ul
        - @school.errors.full_messages.each do |message|
          %li= message

  = f.input :name, label: "Nome da Escola", placeholder: "Nome da Escola", class: 'form-control', required: true
  = f.input :email, label: "Email da Escola", placeholder: "Digite um email para a escola", class: 'form-control', required: true
  = f.input :pitch, label: "Pitch", class: 'form-control', required: true
  = f.input :subdomain, label: "Subdominio", placeholder: "nome-escola.edools.com", class: 'form-control', required: true
  = f.button :submit, "Cadastrar", class: "btn btn-primary right"
