- provide(:title, 'Cursos')

.panel.panel-default
  .panel-heading
  .panel-body
    .row.text-right
      .col-md-12
        = link_to 'Novo Curso', new_course_path, class: 'btn btn-sm btn-success'
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Título
            %th Duração
            %th Preço
            %th # Alunos
            %th

        %tbody
          - @courses.each do |course|
            %tr
              %td
                = course.id
              %td
                = truncate(course.title, length: 20)
              %td
                = truncate(course.duration, length: 20)
              %td
                R$
                = course.price
              %td
                6
              %td.td-buttons.text-center
                = link_to 'Editar', edit_course_path(course), class: 'btn btn-sm btn-warning'
                = link_to 'Excluir', course, data: { confirm: 'Você tem certeza?' }, method: :delete, class: 'btn btn-sm btn-danger'
