<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="focus-container" tabindex="-1">
      <div class="input-group add-on">

        <% if defined? filter_params %>
          <% filter_params.each do |filter_param| %>  
            <input type="text" class="form-control" placeholder="<%= model_class.human_attribute_name(filter_param)%>" name="<%= filter_param %>" id="srch-term" value="<%= params[filter_param] %>">
          <% end %>
        <% end %>

        <% if defined? select_filter_params %>
          <% select_filter_params.each do |select_filter_param| %>  
            <select class="c-select" name="<%= select_filter_param[:key] %>">
              <option selected><%= model_class.human_attribute_name(select_filter_param[:key]) %>
              </option>
              <%= options_for_select(select_filter_param[:options], params[select_filter_param[:key]]) %>
            </select>
          <% end %>
        <% end %>

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>