<%= form_for([@escola, @curso]) do |f| %>

<fieldset>
    <legend>Formulário de curso</legend>

    <% if @curso.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <strong>
          <%= pluralize(@curso.errors.count, "Erro encontrado", "Erros encontrados") %>
        </strong>
        <ul>
          <% @curso.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: "form-control", required: true %>
    </div>

    <div class="form-group">
        <%= f.label :descricao %><br>
        <%= f.text_area :descricao, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :conteudo %><br>
        <%= f.text_area :conteudo, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :duracao %>
        <%= f.text_field :duracao, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :preco %>
        <%= f.number_field :preco, class: "form-control" %>
    </div>

    <%= f.submit "Enviar", class: "btn btn-success" %>

</fieldset>

<% end %>
