<div class="panel panel-primary">
  <div class="panel-heading">
      <h1>Curso Selecionado</h1>
  </div>
  <div class="panel-body">
    <p>
      <strong>Titulo:</strong>
      <%= @curso.titulo %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= @curso.descricao %>
    </p>

    <p>
      <strong>Conteudo:</strong>
      <%= @curso.conteudo %>
    </p>

    <p>
      <strong>Duracao:</strong>
      <%= @curso.duracao %>
    </p>

    <p>
      <strong>Alunos ativos:</strong>
      <%= @curso.alunos_ativos %>
    </p>

    <p>
      <strong>Preco:</strong>
      <%= @curso.preco %>
    </p>

    <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_curso_path(@curso) %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Voltar', cursos_path %></button>
  </div>
</div>
