<%= form_for @student do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>

<p><%= f.submit :id => 'submit' %></p>

<% end %>