<h1><%= t('.title') %></h1>

<table class="table">
  <tr>
    <th>Id</th>
    <td><%= @student.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @student.name %></td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><%= @student.email %></td>
  </tr>
</table>

<h2>Enrolls</h2>
<p>
  <%= link_to "New enroll", new_student_enroll_path(:student_id => @student.id), :class => "label label-primary" %>
</p>
<% unless @student.enrolls.empty? %>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Course</th>
      <th></th>
    </tr>
    <% @student.enrolls.each do |enroll| %>
      <tr>
        <td><%= enroll.id %></td>
        <td><%= enroll.course.title %></td>
        <td>
          <%= link_to "Delete", student_enroll_path(:student_id => @student.id, :id => enroll.id), method:  :delete, :class => "label label-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>There no enrolls for this student.</h3>
<% end %>