<!DOCTYPE html>
<html>
  <head>
    <title>Desafio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li><%= link_to 'Cadastrar Escola', new_school_path %></li>
    <li><%= link_to 'Criar Curso', new_course_path %></li>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>
