<h1><%= I18n.t('courses.list') %></h1>

<%= link_to I18n.t('defaults.new'), new_course_path, class: 'btn btn-success' %>

<%= form_tag(courses_path, method: :get, class: 'float-right') do %>
  <%= text_field_tag :title, nil, placeholder: Course.human_attribute_name(:title) %>
  <%= select_tag :school_id, options_from_collection_for_select(@schools, :id, :name), prompt: Course.human_attribute_name(:school) %>
  <%= submit_tag(I18n.t('defaults.search'), class: 'btn-sm btn-primary') %>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= Course.human_attribute_name(:school) %></th>
      <th><%= Course.human_attribute_name(:title) %></th>
      <th><%= Course.human_attribute_name(:duration) %></th>
      <th><%= Course.human_attribute_name(:price) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.school.name %></td>
        <td><%= course.title %></td>
        <td><%= course.duration %></td>
        <td><%= course.price.format %></td>
        <td><%= link_to I18n.t('defaults.show'), course %></td>
        <td><%= link_to I18n.t('defaults.edit'), edit_course_path(course) %></td>
        <td><%= link_to I18n.t('defaults.delete'), course, method: :delete, data: { confirm: I18n.t('defaults.confirm_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @courses %>
