<h1><%= t('.title') %></h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Owner Email</th>
        <th>Creation Date</th>
    </tr>
    <% @schools.each do |school| %>
    <tr>
        <td><%= school.id %></td>
        <td><%= school.name %></td>
        <td><%= school.owner_email %></td>
        <td><%= school.created_at %></td>
        <td></td>
    </tr>
    <% end %>
</table>