<%= form_for(enrollment) do |f| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :course_id, :class => "control-label" %>
    <%= f.collection_select :course_id, Course.all, :id, :title, {}, {:class => "form-control"} %>
  </div>

  <div class="field form-group">
    <%= f.label :student_id, :class => "control-label" %>
    <%= f.collection_select :student_id, Student.all, :id, :name, {}, {:class => "form-control"} %>
  </div>

  <div class="field form-group col-sm-12 row">
    <div class="col-sm-4 row">
      <%= f.label :status, :class => "control-label" %>
      <%= f.select :status, Enrollment.statuses.keys, {:include_blank => "----"}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="actions form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>
