<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @enrollment.school %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
