<h2>{{ school }}</h2><br />
Olá, <strong>{{ student }}</strong>
<p>Seja bem vindo a nossa plataforma de ensino.</p>
<p>
  Seus dados: <br />
  <strong>Nome: </strong> {{ student }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <small>
    {{ school }}
  </small>
</p>
