<%= render 'shared/notice' %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8 pull-left">
        <%= link_to t('actions.back'), root_path, class: 'btn btn-default' %>
        <%= link_to t('actions.new'), new_aluno_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<h1>Listing Alunos</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.aluno.nome') %></th>
      <th><%= t('activerecord.attributes.aluno.email') %></th>
      <th><%= t('activerecord.attributes.aluno.escola') %></th>
      <th><%= t('activerecord.attributes.aluno.curso') %></th>
      <th><%= t('activerecord.attributes.aluno.ativo') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.email %></td>
        <td><%= aluno.escola.nome %></td>
        <td><%= aluno.curso.titulo %></td>
        <td><%= aluno.ativo %></td>
        <td><%= link_to t('actions.show'), aluno %></td>
        <td><%= link_to t('actions.edit'), edit_aluno_path(aluno) %></td>
        <td><%= link_to t('actions.remove'), aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
