<div class="panel panel-primary">
  <div class="panel-heading">
    <%= form_tag buscar_escolas_path, method: :post, class:"navbar-form navbar-right" do %>
      <div class="form-group">
        <%= text_field_tag :nome, @nome_a_buscar, class:"form-control" %>
        <%= button_to "Buscar", nil, class:"btn btn-default" %>
      </div>
    <% end %>
      <h1>Escolas Cadastradas</h1>
  </div>
  <div class="panel-body">
    <% @escolas_cursos.each do |escola| %>
      <h3><%= escola.nome %></h3>
      <% escola.cursos.each do |curso| %>
        <table class="table">
          <thead>
            <tr>
              <th>Nome Curso</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><%= curso.nome %></td></tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>


</div>
