<div class="container">

	<h1>Escola #<%= @escola.id %></h1>

        <div class="form-group">
            <label class="col-sm-4 control-label">Nome</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= @escola.nome %></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Email do dono</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= @escola.email_dono %></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Pitch</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= @escola.pitch %></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Sub-domínio</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= @escola.sub_dominio %></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Data de criação</label>
            <div class="col-sm-8">
                <p class="form-control-static"><%= @escola.data_criacao %></p>
            </div>
        </div>

        <%= link_to 'Editar', edit_escola_path(@escola), class: 'btn btn-primary' %>
        <%= link_to 'Cursos', escola_cursos_path(@escola), class: 'btn btn-default' %>
        <%= link_to 'Alunos', escola_alunos_path(@escola), class: 'btn btn-default' %>
        <%= link_to 'Alunos Ativos', active_alunos_escola_path(@escola), class: 'btn btn-default' %>
        <%= link_to 'Voltar', escolas_path, class: 'btn btn-default' %>

</div>
