<%= bootstrap_nested_form_for @tb_escola,
                              id: 'tb_escolas_create',
                              enctype: 'multipart/form-data', html: { role: 'form' } do |f| %>
  <div class="form-body">
    <%= f.alert_message specific_alert(:defalt_alert_message) %>

    <div class="row">
      <div class="col-md-6">
        <%= h f.text_field :nome, class: 'form-control',
                           label: "#{human_attr(f.object.class, :nome)}",
                           placeholder: "Digite o #{human_attr(f.object.class, :nome)}",
                           required: true,
                           label_class: "margin-top-10" %>
      </div>
      <div class="col-md-3">
        <%= h f.text_field :email_dono, class: 'form-control',
                           type: :email,
                           label: "#{human_attr(f.object.class, :email_dono)}",
                           placeholder: "Digite o #{human_attr(f.object.class, :email_dono)}",
                           required: true,
                           label_class: "margin-top-10" %>
      </div>
      <div class="col-md-3">
        <%= h f.text_field :subdominio,
                           label: "#{human_attr(f.object.class, :subdominio)}",
                           required: true,
                           placeholder: "Digite o #{human_attr(f.object.class, :subdominio)}",
                           label_class: "margin-top-10" %>

      </div>
    </div>

    <%= f.file_field :logo %>

    <%= h f.text_area :pitch,
                      class: 'form-control',
                      rows: 3,
                      required: true,
                      label: "#{human_attr(f.object.class, :pitch)}",
                      placeholder: "Descreva o #{human_attr(f.object.class, :pitch)}",
                      label_class: "margin-top-10" %>

    <%= render 'tb_cursos/form', f: f %>

    <%= f.link_to_add :tb_cursos, :class => 'btn btn-primary', :style => "margin-top: 10px;" do %>
      <span class="fa fa-plus"></span>&nbsp;Adicionar outro Curso
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding-top: 20px;">
      <%= link_to 'Cancelar', tb_escolas_path, class: 'btn btn-info' %>
      <div class="pull-right">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <script>
      $(document).on('nested:fieldAdded', function (event) {
          $('.input-money').maskMoney();
      });
  </script>
<% end %>