<%= form_for(@school, html: { class: 'ui form' } ) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
      <label>Nome da Escola</label>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <label>Pitch</label>
      <%= f.text_field :pitch %>
    </div>
    <div class="field">
      <label>Subdomínio</label>
      <%= f.text_field :subdomain %>
    </div>
    <%= f.submit 'Salvar', class: 'teal ui button' %>
  </div>
<% end %>
