<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <div class="col-sm-6">
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= f.label :owner_email, :class => "control-label" %>
      <%= f.text_field :owner_email, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :pitch, :class => "control-label" %>
    <%= f.text_field :pitch, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :subdomain, :class => "control-label" %>
    <%= f.text_field :subdomain, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
