= simple_form_for(@school) do |f|
  = f.input :name
  = f.input :contact_email
  = f.input :pitch
  = f.input :subdomain
  = f.submit 'Salvar', class: 'btn btn-primary'
  = link_to 'Voltar para listagem', schools_path, class: 'btn btn-primary'