<div class="well">
  <h1><%= t('helpers.titles.listing', {model: School.model_name.human})%></h1>
</div>
<%= link_to t('helpers.links.new', {model: School.model_name.human}), new_school_path, class: 'pull-right btn btn-primary' %>
<br />
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= School.human_attribute_name('name')%></th>
        <th><%= School.human_attribute_name('owner_email')%></th>
        <th><%= School.human_attribute_name('subdomain')%></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @schools%>
    </tbody>
  </table>
</div>
