<h1>New School</h1>

<%= form_for @school do |f|%>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :owner_email %>
    <%= f.text_field :owner_email, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :pitch %>
    <%= f.text_field :pitch, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, class: 'subdomain form-control' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
