<%- model_class = School -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @school.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_email) %>:</strong></dt>
  <dd><%= @school.owner_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pitch) %>:</strong></dt>
  <dd><%= @school.pitch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subdomain) %>:</strong></dt>
  <dd><%= @school.subdomain %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_of_creation) %>:</strong></dt>
  <dd><%= @school.date_of_creation %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              schools_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_school_path(@school), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              school_path(@school),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
