<p id="notice"><%= notice %></p>

<div class="mt-4">
  <h3>Show School #<%= "#{@school.id}" %></h3>
</div>

<div class="clearfix">
  <div class="btn-group float-right">
    <%= link_to 'Back', schools_path, class: 'btn btn-secondary' %>
    <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-info' %>
  </div>
</div>

<hr>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @school.owner_email %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @school.pitch %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @school.subdomain %>
</p>
