- content_for :page_header do
  Escola #{@school.name}

%p
  %strong Email de contato:
  = @school.contact_email

%p
  %strong Pitch:
  = @school.pitch

%p
  %strong Subdomínio:
  = @school.subdomain

%p
  %strong Criado em:
  = l @school.created_at, format: :short

%p
  %strong Última alteração em:
  = l @school.updated_at, format: :short

= link_to 'Voltar para listagem', schools_path, class: 'btn btn-primary'