<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Sloode
        {{/if}}
    </title>
    <link href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{{block "css"}}}
</head>

<body>
    {{> _navbar}}
    <div class="container">
        {{{content}}}
    </div>
</body>

<script src="/assets/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/assets/bower_components/vue/dist/vue.js" charset="utf-8"></script>
<script src="/assets/bower_components/vue-resource/dist/vue-resource.js" charset="utf-8"></script>
<script type="text/javascript">
    var querySearchVM = new Vue({
        delimiters: ['((', '))'],
        el: '#search-form',
        data: {
            querySearch: ''
        },
        methods: {
            doSearch: function() {
                var _this = this;
                window.location.href = '/busca?q=' + _this.querySearch;
            }
        }
    });
</script>
{{{block "js"}}}

</html>
