= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :school
    = f.text_field :school
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :duration
    = f.number_field :duration
  .field
    = f.label :creation_date
    = f.date_select :creation_date
  .field
    = f.label :active_students
    = f.number_field :active_students
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
