<div class="demo-grid-ruler ">  
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">
            Nome do Curso
          </th>          
          <th>Descrição</th>
          <th>Conteúdo</th>
          <th>Duração</th>
          <th>Preço</th>
          <th>Data de Criação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= course.title %>
            </td>            
            <td><%= course.description %></td>
            <td><%= course.content %></td>
            <td><%= course.duration %></td>
            <td><%= course.price %></td>
            <td><%= course.created_at %></td>
            <td>
              <%= link_to "Visualizar", course_path(course), method: :get, class: "mdl-button mdl-js-button mdl-button--primary" %>
              <%= link_to "Editar", edit_course_path(course), method: :get, class: "mdl-button mdl-js-button mdl-button--primary" %>
              <%= link_to "Remover", course_path(course), method: :delete, class: "mdl-button mdl-js-button mdl-button--accent" %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </table>
</div>