<div class="well">
  <h1><%= t('helpers.titles.listing', {model: Course.model_name.human})%></h1>
</div>
<div class="row">
  <div class="col-md-6">
    <%= search_form_for @q, method: :get, remote: true, class: 'form-inline' do |f|%>
      <div class="form-group">
        <div class="input-group">
          <%= f.search_field :title_cont, class: 'form-control', placeholder: t('helpers.placeholders.search') %>
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <select class="form-control pull-right" data-action="filter" data-url="<%= filter_courses_path(format: :js)%>">
      <option value="0"><%= t('.option.filter')%></option>
      <%= options_for_select(School.all.map {|x| [x.name, x.id]})%>
    </select>
  </div>
</div>
<hr />
<%= link_to t('helpers.links.new', {model: Course.model_name.human}), new_course_path, class: 'pull-right btn btn-primary' %>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :title,           Course.human_attribute_name('title'))%></th>
        <th><%= sort_link(@q, :school,          Course.human_attribute_name('school'))%></th>
        <th><%= sort_link(@q, :duration,        Course.human_attribute_name('duration'))%></th>
        <th><%= sort_link(@q, :active_students, Course.human_attribute_name('active_students'))%></th>
        <th><%= sort_link(@q, :price,           Course.human_attribute_name('price'))%></th>
        <th><%= sort_link(@q, :created_at,      Course.human_attribute_name('created_at'))%></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= (render @courses) || t('.no_record.html')%>
    </tbody>
  </table>
</div>
