= simple_form_for @school do |f|
  = f.input :name, label: "Nome"
  = f.input :email_responsible, label: "Email"
  = f.input :pitch, label: "Pitch"
  = f.input :subdomain, label: "Subdominio"
  = f.button :submit
