= simple_form_for @school do |f|
  -if @school.errors.any?
    #error_explanation
      %h2
        = pluralize(@school.errors.count, "erro")
        no preenchimento
      %ul
        - @school.errors.full_messages.each do |message|
          %li= message

  = f.input :name, label: t('labels.name'), placeholder: t('placeholders.name')
  = f.input :email_responsible, label: t('labels.email'), placeholder: t('placeholders.email')
  = f.input :pitch, label: t('labels.pitch')
  = f.input :subdomain, label: t('labels.subdomain'), placeholder: t('placeholders.subdomain')
  = f.button :submit
