%h1= t('titles.school_list')

%input#search.form-control{:placeholder => t('placeholders.search_school'), :type => "search", :value => ""}/

%table.table#table
  %thead
    %tr
      %th= t('table_titles.school_name')
      %th= t('table_titles.created_at')
      %th= t('table_titles.email_responsible')
      %th= t('table_titles.subdomain')
  - @schools.each do |school|
    %tbody
      %tr
        %td
          = link_to school.name, school

        %td
          = time_tag school.created_at

        %td
          = school.email_responsible

        %td
          = school.subdomain
