%h1.title
  = t('titles.school')
  = @school.name

%table.table
  %tr
    %td
      =t('labels.email')
      \:
      =@school.email_responsible

    %td{:align => "right", :rowspan => "5", :width => "200px"}
      %h4= t('titles.options')
      %p
        = link_to t('links.new_course'), new_school_course_path(@school), class: "btn btn-default"
      %p
        = link_to t('links.new_student'), new_school_student_path(@school), class: "btn btn-default"
      %p
        = link_to t('links.students_list'), school_students_path(@school), class: "btn btn-default"
      %p
        = link_to t('links.back'), root_path, class: "btn btn-default"
      %p
        = link_to t('links.edit'), edit_school_path(@school), class: "btn btn-default"
      %p
        = link_to t('links.delete'), school_path(@school), method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger"

  %tr
    %td
      =t('labels.pitch')
      \:
      = simple_format(@school.pitch)

  %tr
    %td
      =t('labels.subdomain')
      \:
      = @school.subdomain

  %tr
    %td
      =t('labels.date_school')
      \:
      = time_tag @school.created_at

= render 'courses/joined_courses'
