%h1.title= @school.name
%p
  =t('labels.email')
  \:
  =@school.email_responsible

%p
  =t('labels.pitch')
  \:
  = simple_format(@school.pitch)

%p
  =t('labels.subdomain')
  \:
  = @school.subdomain

%p
  =t('labels.date_school')
  \:
  = time_tag @school.created_at

= link_to t('links.new_course'), new_school_course_path(@school)
= link_to t('links.new_student'), new_school_student_path(@school)
= link_to t('links.students_list'), school_students_path(@school)
= link_to t('links.back'), root_path
= link_to t('links.edit'), edit_school_path(@school)
= link_to t('links.delete'), school_path(@school), method: :delete, data: { confirm: t('messages.confirm') }

%h1 Cursos Cadastrados

%table.table.table-striped

  - @school.courses.each do |course|
    %tr
      %td
        =course.title
      %td
        %button.btn-default{ "data-target" => "#myDescription", "data-toggle" => "modal", type: "button" }=t('buttons.description')

        #myDescription.modal.fade{ :role => "dialog" }
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{ "data-dismiss" => "modal", :type => "button" } &times;
                %h4.modal-title= t('titles.description')

              .modal-body
                %p= simple_format(course.description)

              .modal-footer
                %button.btn.btn-default{ "data-dismiss" => "modal", :type => "button" }= t('buttons.close')

      %td
        %button.btn-default{ "data-toggle" => "modal", "data-target" => "#myModal", :type => "button" }= t('buttons.content')

        #myModal.modal.fade{ :role => "dialog" }
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{ "data-dismiss" => "modal", :type => "button" } &times;
                %h4.modal-title= t('titles.content')

              .modal-body
                %p= simple_format(course.content)

              .modal-footer
                %button.btn.btn-default{ "data-dismiss" => "modal", :type => "button" }= t('buttons.close')

      %td
        = course.duration

      %td
        = number_to_currency(course.price, unit: "R$ ", separator:",", delimiter:" ")

      %td
        = link_to t('links.edit'), edit_school_course_path(@school.id, course.id)

      %td
        = link_to t('links.delete'), school_course_path(@school.id, course.id), method: :delete, data: { confirm: t('messages.confirm') }
