<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Título %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_field :description ,class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Conteúdo %><br>
    <%= f.text_area :content ,class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label "Duração (meses)" %><br>
    <%= f.number_field :duration ,class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :date_of_creation %><br>
    <%= f.text_field :date_of_creation, :order => [:day, :month ,:year ] ,class: "form-control", type: "date"%>
  </div>
  <div class="field">
    <%= f.label :Valor %><br>
    <%= f.text_field :price ,class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.number_field :school_id ,class: "form-control"%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "salvar" ,class: "btn btn-primary btn-sm"%>
  </div>
<% end %>
