<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Listar Cursos</h1>
</div>
  <%= link_to 'Novo Curso', new_course_path ,  class: "btn btn-primary btn-sm pull-right" %>
  <%= form_tag courses_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "buscar", :name => nil, class: "btn btn-warning btn-xs" %>
  <% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Duração</th>
      <th>Valor</th>
      <th>Escola</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= "#{course.duration.to_i} meses "%></td>
        <td><%= "R$ #{course.price}" %></td>
        <td><%= course.school.name %></td>
        <td class="pull-right">
          <%= link_to 'exibir', course, class: "btn btn-info btn-sm" %>
          <%= link_to 'editar', edit_course_path(course), class: "btn btn-info btn-sm" %>
          <%= link_to 'deletar', course, method: :delete, data: { confirm: 'Quer deletar?'  }, class: "btn btn-info btn-sm" %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
