<h1 class="ls-title-intro ls-ico-home">Courses</h1>

<div class="row">

  <div class="ls-box-filter">
    <div class="col-md-1">
      <a href="<%= new_course_path %>" class="ls-btn-primary">Create</a>
    </div>

    <form role="form" action="<%= courses_path %>" class="ls-form ls-form-inline ls-float-left">
      <label class="ls-label col-md-4 col-sm-4" role="search">
        <input type="text" name="keywords" placeholder="Search Courses.." required="" class="ls-field">
      </label>

      <div class="ls-actions-btn">
        <input type="submit" value="Search" class="ls-btn" title="Search">
      </div>

      <div class="ls-actions-btn">
        <a href="<%= courses_path %>" class="ls-btn-primary-grey">Show All</a>
      </div>
    </form>

    <form action="<%= courses_path %>" class="ls-form ls-form-inline ls-float-right">
      <label class="ls-label">
        <div class="ls-custom-select">
          <select name="school_id" class="ls-select">
            <option value="" id='all_schools'>All Schools</option>
            <% School.all.each do |s| %>
              <option value="<%= s.id %>"><%= s.name %></option>
            <% end %>
          </select>
        </div>
      </label>

      <div class="ls-actions-btn">
        <input type="submit" value="Filter" class="ls-btn" title="Filter">
      </div>
    </form>
  </div>
   
</div>

<table class="ls-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Duration</th>
      <th>Active Students</th>
      <th>Price</th>
      <th>School</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.content %></td>
        <td><%= course.duration %></td>
        <td><%= course.active_students %></td>
        <td><%= course.price %></td>
        <td><%= link_to course.school.name, school_path(course.school) %></td>
        <td><%= course.created_at.to_date %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course), class: 'ls-btn-primary ls-btn-xs' %>
          <%= link_to 'Delete', course_path(course), method: :delete, class: 'ls-btn-primary-danger ls-btn-xs', data: { confirm: 'Are you sure?' }  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @courses %> 
<%= page_entries_info @courses %>
