= form_for @student do |student|

  = render partial: 'shared/validation_messages', locals: { resource: @student }
  .form-group
    = student.label :name, 'Nome'
    = student.text_field :name, class: 'form-control'
  .form-group
    = student.label :email, 'E-mail'
    = student.email_field :email, class: 'form-control'
  .form-group.text-center
    = link_to students_path, class: 'btn btn-danger' do
      Cancelar
    = student.submit class: 'btn btn-success'
