= form_for @school do |school|

  = render partial: 'shared/validation_messages', locals: { resource: @school }
  .form-group
    = school.label :name, 'Nome da Escola'
    = school.text_field :name, placeholder: 'Nome', class: 'form-control'
  .form-group
    = school.label :owner_email, 'E-mail do dono'
    = school.text_field :owner_email, placeholder: 'E-mail', class: 'form-control'
  .form-group
    = school.label :pitch, 'Pitch'
    = school.text_field :pitch, placeholder: 'Pitch', class: 'form-control'
  .form-group
    = school.label :subdomain, 'Subdomínio da escola'
    = school.text_field :subdomain, placeholder: 'Subdomínio', class: 'form-control'
  .form-group.text-center
    = link_to schools_path, class: 'btn btn-danger' do
      Cancelar
    = school.submit class: 'btn btn-success'
