<!DOCTYPE html>
<html>
  <head>
    <title>Herospark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="main-container">
      <aside class="aside-sidenav">
        <%= render '/layouts/sidenav'%>
      </aside>
      <div class="main">
        <%= yield %>
      </div>
    </div>
    <div id="main-modal" class="modal"></div>
  </body>
</html>
